{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Libros Favoritos</title>
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Merriweather&display=swap" rel="stylesheet" />
</head>

<body>
  <header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <div class="header-container">
      <div class="hamburger-menu">
        <i class="fas fa-bars"></i>
        <nav class="side-menu">
          <ul>
          <li><a href="{% url 'inicio' %}"><i class="fas fa-home"></i> Inicio</a></li>
          <li><a href="{% url 'explorar_ia' %}"><i class="fas fa-lightbulb"></i> Explorar con IA</a></li>
          <li><a href="{% url 'explorar_libros' %}"><i class="fas fa-book"></i> Explorar libros</a></li>
          <li><a href="{% url 'historial' %}"><i class="fas fa-history"></i> Historial</a></li>
          <li><a href="{% url 'perfil' %}"><i class="fas fa-user"></i> Perfil</a></li>
          <li><a href="{% url 'configuracion' %}"><i class="fas fa-cog"></i> Configuración</a></li>
          <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
          </ul>
        </nav>
      </div>  
      
    <div class="barra-superior">
          <!-- Centro: buscador -->
      <div class="centro">
        <div class="buscar-container">
          <input type="text" id="descripcionInput" placeholder="Buscar">
          <button id="buscarBtn"><i class="fas fa-search"></i></button>
        </div>
      </div>

    <!-- Derecha: logo + texto -->
    <div class="logo-container">
      <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo logo-explorar">
      <span class="logo-text">Viajes entre líneas</span>
    </div>
</div>
  </header>

  <main>
  <h1 class="titulo-favoritos">Libros Favoritos</h1>

  <section class="favoritos-container">
    {% if libros_favoritos %}
      {% for libro in libros_favoritos %}
        <div class="book-placeholder">
          <a href="{% url 'detalle_libro' libro.id %}">
            <img src="{{ libro.portada }}" alt="{{ libro.titulo }}">
          </a>
        </div>
      {% endfor %}
    {% else %}
      <p>No tienes libros marcados como favoritos aún.</p>
    {% endif %}
  </section>
</main>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
