{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Viaje entre líneas</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body>
  <header class="hero-section">
  <img src="https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2000&q=80" alt="Fondo de libros" class="hero-bg">
    <p>Valor de mostrar_encuesta en plantilla: "{{ mostrar_encuesta }}"</p>


  <div class="overlay">
    <div class="top-bar">
      <div class="header-buttons">
        {% if logueado %}
          
        {% else %}
          <a href="{% url 'registro' %}" class="btn">Registrarse</a>
          <a href="{% url 'login' %}" class="btn">Iniciar sesión</a>
        {% endif %}
      </div>
    </div>
  
  <div class="header-title">
    <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo logo-inicio">
    <h1 class="title">Viajes entre líneas</h1>
  </div>
    
  <div class="hamburger-menu">
    <i class="fas fa-bars"></i>
  </div>

  <nav class="side-menu">
  <ul>
    <li><a href="{% url 'inicio' %}"><i class="fas fa-home"></i> Inicio</a></li>
    <li><a href="{% url 'explorar_ia' %}"><i class="fas fa-lightbulb"></i> Explorar con IA</a></li>
    <li><a href="{% url 'explorar_libros' %}"><i class="fas fa-book"></i> Explorar libros</a></li>
    <li><a href="{% url 'historial' %}"><i class="fas fa-history"></i> Historial</a></li>
    <li><a href="{% url 'favoritos' %}"><i class="fas fa-heart"></i> Mis favoritos</a></li>
    <li><a href="{% url 'perfil' %}"><i class="fas fa-user"></i> Perfil</a></li>
    <li><a href="{% url 'configuracion' %}"><i class="fas fa-cog"></i> Configuración</a></li>
    <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
  </ul>
</nav>


<div class="search-bar">
  <input type="text" id="descripcionInput" placeholder="Buscar">
  <button id="buscarBtn"><i class="fas fa-search"></i></button>
</div>

</header>

 <nav class="genre-menu">
  <div class="genre-visible" id="genreVisible">
    <a href="#terror">Terror</a>
    <a href="#romance">Romance</a>
    <a href="#fantasia">Fantasia</a>
    <a href="#cuentos">Cuentos</a>
    <a href="#novelas">Novelas</a>
    <a href="#infantil">Infantil</a>
    <a href="#clasico">Clasico</a>
    <a href="#historia">Historia</a>
    <a href="#autoayuda">Autoayuda</a>
    <a href="#crimen">Crimen</a>
    <a href="#misterio">Misterio</a>
    <a href="#drama">Drama</a>
    <a href="#ciencia-ficcion">Ciencia ficcion</a>
    <a href="#aventura">Aventura</a>
    <a href="#humor">Humor</a>
    <a href="#poesia">Poesia</a>
    <a href="#suspenso">Suspenso</a>
    <a href="#viajes">Viajes</a>
    <a href="#mitologia">Mitologia</a>
    <a href="#guerra">Guerra</a>
    <a href="#crecimiento-personal">Crecimiento personal</a>
    <a href="#arte">Arte</a>
  </div>
  <button id="toggle-genres" class="btn-toggle"onclick="toggleGenres()">Ver más</button>
</nav>

<main>
  <section class="book-section">
    <div class="section-header">
      <h2>Recomendados</h2>
    </div>
    <div class="book-grid-container">
      <div id="recomendadosContainer" class="book-grid">
      </div>
    </div>
  </section>

  <section class="book-section" id="fantasia">
    <div class="section-header">
      <h2>Fantasía</h2>
      <a href="#" class="view-more-btn">
        Ver más <i class="fas fa-arrow-right"></i>
      </a>
    </div>
    <div class="book-grid-container">
      <div id="FantasiaGrid" class="book-grid">
        {% if libros_fantasia %}
          {% for libro in libros_fantasia %}
            <div class="book-placeholder">
              <a href="{% url 'detalle_libro' libro.id %}">
                <img src="{{ libro.portada }}" alt="{{ libro.titulo }}">
              </a>
            </div>
          {% endfor %}
        {% else %}
          <p>No hay libros de fantasía.</p>
        {% endif %}
      </div>
    </div>
  </section>

  <section class="book-section">
    <div class="section-header">
      <h2>Drama</h2>
      <a href="#" class="view-more-btn">
        Ver más <i class="fas fa-arrow-right"></i>
      </a>
    </div>
    <div class="book-grid-container">
          <div id="dramaGrid" class="book-grid">
            {% if libros_drama %}
              {% for libro in libros_drama %}
                <div class="book-placeholder">
                  <a href="{% url 'detalle_libro' libro.id %}">
                    <img src="{{ libro.portada }}" alt="{{ libro.titulo }}">
                  </a>
                </div>
              {% endfor %}
            {% else %}
              <p>No hay libros de drama.</p>
            {% endif %}
          </div>
      </div>
    </div>
  </section>

  <section class="book-section">
    <div class="section-header">
      <h2>Romance</h2>
      <a href="#" class="view-more-btn">
        Ver más <i class="fas fa-arrow-right"></i>
      </a>
    </div>
    <div class="book-grid-container">
      <div id="romanceGrid" class="book-grid">
        {% if libros_romance %}
          {% for libro in libros_romance %}
                <div class="book-placeholder">
                  <a href="{% url 'detalle_libro' libro.id %}">
                    <img src="{{ libro.portada }}" alt="{{ libro.titulo }}">
                  </a>
                </div>
              {% endfor %}
        {% else %}
          <p>No hay libros de romance.</p>
        {% endif %}
      </div>
    </div>
  </section>

  <section class="book-section" id="terror">
    <div class="section-header">
      <h2>Terror</h2>
      <a href="#" class="view-more-btn">
        Ver más <i class="fas fa-arrow-right"></i>
      </a>
    </div>
    <div class="book-grid-container">
      <div id="novelasGrid" class="book-grid">
        {% if libros_terror%}
          {% for libro in libros_terror %}
                <div class="book-placeholder">
                  <a href="{% url 'detalle_libro' libro.id %}">
                    <img src="{{ libro.portada }}" alt="{{ libro.titulo }}">
                  </a>
                </div>
              {% endfor %}
        {% else %}
          <p>No hay libros de terror.</p>
        {% endif %}
      </div>
    </div>
  </section>
</main>
   {% if mostrar_encuesta %}
  <p>mostrar_encuesta = "{{ mostrar_encuesta }}"</p>
    <div id="modal-preferencia-1" class="modal hidden">
      <div class="modal-content">
        <h2>Queremos conocer más de ti</h2>
        <p>¿Qué géneros te gustan?</p>
        <div class="options">
          <button class="option">Fantasia</button>
          <button class="option">Romance</button>
          <button class="option">Ciencia ficcion</button>
          <button class="option">Terror</button>
          <button class="option">Cuentos</button>
          <button class="option">Novelas</button>
          <button class="option">Clasico</button>
          <button class="option">Autoayuda</button>
          <button class="option">Drama</button>
          <button class="option">Misterio</button>
          <button class="option">Crimen</button>
        </div>
        <button id="next-1" class="btn-next">Siguiente</button>
      </div>
    </div>

    <div id="modal-preferencia-2" class="modal hidden">
      <div class="modal-content">
        <h2>¿Prefieres finales felices o impactantes?</h2>
        <div class="options">
          <button class="option">Finales Abiertos</button>
          <button class="option">Finales Impactantes</button>
        </div>
        <button id="next-2" class="btn-next">Siguiente</button>
      </div>
    </div>

    <div id="modal-preferencia-3" class="modal hidden">
      <div class="modal-content">
        <h2>¿Te interesa leer libros populares o poco conocidos?</h2>
        <div class="options">
          <button class="option">Libros populares</button>
          <button class="option">Libros poco conocidos</button>
        </div>
        <button id="finish" class="btn-next">Finalizar</button>
      </div>
    </div>
    <p>Valor de mostrar_encuesta en plantilla: "{{ mostrar_encuesta }}"</p>

<style>
  .book-cover {
    width: 120px;
    height: auto;
    border: 2px solid white;
    margin: 5px;
  }
  .book-placeholder {
    display: inline-block;
  }
</style>
{% endif %}
 <script src="{% static 'js/main.js' %}"></script>
</body>

</html>