{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Perfil - Biblioteca Virtual</title>
  
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>


<body>
  <div class="perfil-container">
    <div class="perfil-col izquierda">
      <button class="btn-inicio" onclick="window.location.href='{% url 'inicio' %}'">← Inicio</button>
     <div class="perfil-header">
        <h1 class="nombre">
          {% if user.is_authenticated %}
            {{ user.nombre }}
          {% else %}
            Invitado
          {% endif %}
        </h1>
        <div class="acciones">
        <button><a href="{% url 'configuracion' %}" >configuración</a></button>
     </div>
    </div>


      <h2>Géneros favoritos</h2>
        <div class="generos">
          {% if generos_favoritos %}
            {% for genero in generos_favoritos %}
              <span>{{ genero }}</span>
            {% endfor %}
          {% else %}
            <span>No hay géneros favoritos registrados</span>
          {% endif %}
        </div>


    </div>

  <div class="perfil-col derecha">

      <div class="contenido-leidos">
        <h2>Libros leídos o marcados</h2>
        <div class="libros-leidos">
          <div class="libro"></div>
          <div class="libro"></div>
          <div class="libro"></div>
          <div class="libro"></div>
          <div class="libro"></div>
          <div class="libro"></div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

