{% load static %}
<!DOCTYPE html>
  <html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro - Viajes entre líneas</title>

    <link href="{% static 'css/main.css' %}" rel="stylesheet">
  </head>
  <style>
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
</style>
  <body>
    <div id="toast" class="toast hidden"></div>
    
    <header class="header">
      <div class="logo-container">
        <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo logo-explorar">
        <span class="logo-text">Viajes entre líneas</span>
      </div>

    </header>
  <main class="registro-main">
    <div class="registro-card">
      <h2>Crear una cuenta</h2>
      <form action="{% url 'registro' %}" method="post" class="registro-form" onsubmit="return validarFormulario()">
      {% csrf_token %}

      <label for="nombre">Nombre de usuario</label>
      <input type="text" id="nombre" name="nombre" required minlength="4" maxlength="20"
            pattern="[A-Za-z0-9_]+" title="Solo letras, números y guiones bajos" />

      <label for="email">Correo electrónico</label>
      <input type="email" id="email" name="email" required
            pattern="^[a-zA-Z0-9._%+-]+@(gmail|hotmail|outlook)\.com$"
            title="Solo se aceptan correos de gmail.com, hotmail.com o outlook.com" />

      <label for="contraseña">Contraseña</label>
      <input type="password" id="contraseña" name="contraseña" required minlength="6" />

      <label for="confirm-contraseña">Confirmar contraseña</label>
      <input type="password" id="confirm-contraseña" name="confirm-contraseña" required minlength="6" />

      <p class="login-link">¿Ya tienes cuenta? <a href="{% url 'login' %}">Inicia sesión</a></p>

      <button type="submit" class="btn-submit">Registrarse</button>
    </form>
    </div>
  </main>
 {% if messages %}
  <script>
    const toast = document.getElementById('toast');
    {% for message in messages %}
      toast.textContent = "{{ message|escapejs }}";
      toast.classList.remove('hidden');
      toast.classList.add('show');

      // Ocultar después de 3 segundos
      setTimeout(() => {
        toast.classList.remove('show');
        toast.classList.add('hidden');
      }, 3000);
    {% endfor %}
  </script>
{% endif %}

</body>
</html>